// Styling for the getting Started section
section.gettingStarted {
    position: relative;
    padding: 150px 0;
    h2 {
        font-size: 40px;
        margin-top: 0;
    }
    p {
        font-size: 25px;
    }
    .btn-outline {
        background-color: #000099;
        font-size: 27px;
    }
    @media(min-width: 768px) {
        h2 {
            font-size: 70px;
        }
    }
}
