// Styling für die slideshow bei den features

.slideshow {
    width: 100%;
}

.animate-fromBottom {
    position: relative;
    animation: animateFromBottom 0.7s;
}

@keyframes animateFromBottom {
    from {bottom: -500px; opacity: 0.0} to {bottom: 0; opacity: 1.0}
}